.loader {
  width: 50%;
  display: flex;
  justify-content: center;

  @keyframes ldio-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ldio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */

    div {
      box-sizing: content-box;

      position: absolute;
      animation: ldio-animation 1s linear infinite;
      width: 160px;
      height: 160px;
      top: 20px;
      left: 20px;
      border-radius: 50%;
      box-shadow: 0 4px 0 0 #b3c430;
      transform-origin: 80px 82px;
    }

    .loadingioSpinner {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      // background: #f1f2f3;
      background: #f8fafc;
    }
  }
}
