node_modules

.next
.next/cache

pnpm-store
yarn.lock
npm-debug.log
pnpm-debug.log

.env
.env.local
.env.development
.env.production
.env.test

*.log
.DS_Store
.vscode
.idea
*.swp
Thumbs.db

.git
.gitignore