services:
  mojkuran-app:
    image: ghcr.io/azizoid/mojkuran.com:latest
    container_name: mojkuran-app
    restart: always
    env_file:
      - .env
    expose:
      - ${PORT}
    deploy:
      resources:
        limits:
          memory: 150M
        reservations:
          memory: 80M
    networks:
      - main-network

networks:
  main-network:
    external: true
