services:
  mojkuran-app:
    image: ghcr.io/azizoid/mojkuran.com:latest
    container_name: mojkuran-app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
        MONGODB_DB: ${MONGODB_DB}
    env_file:
      - .env
    expose:
      - ${PORT}
    networks:
      - main-network

networks:
  main-network:
    external: true
