.searchForm {
  margin-bottom: 2em;

  .formFirstLine {
    * {
      margin-right: 8px;
    }

    .ayah {
      width: 148px;
    }

    .translator {
      width: 148px;
    }

    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .formSecondLine {
    display: flex;

    input {
      margin-right: 8px;
    }

    button {
      width: 360px;
    }
  }
}
