.mainContainer {
  min-height: 70vh;
}

.mainSidebar {
  font-size: 0.9rem;
}

.ornament {
  height: 5em;
  background: url("/img/ornament.gif") repeat-x;
  background-position: left -2.3em;
}

@media (max-width: 480px) {
  .ornament {
    height: 3em;
  }
}
