// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";
@import "bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#ornament {
  height: 5em;
  background: url("/img/ornament.gif") repeat-x;
  background-position: left -2.3em;
}

@media (max-width: 480px) {
  #ornament {
    height: 3em;
  }
}

.ayah-nav-click {
  font-size: 3em;
  color: #6cb2eb;
}

.ayah-details {
  padding: 2rem;
}
